version: '3.6'
services:
  app:
    build: .
    ports:
      - 8080:8080
    tty: true
    volumes:
      - ./:/usr/app/backend/TodoBackend/
      - ../../openapi/:/usr/app/openapi
    entrypoint:
      - sh
      - ./gradlew
      - bootRun
    